
# .env
#
# Make sure this file is included in your .gitignore to avoid exposing sensitive information
# 
# This file defines the environment variables for Firebase configuration.
# Replace the placeholder values with your actual Firebase project settings.
# Note: VITE_ prefix is required for Vite to expose these variables to the client-side code
#
# Copy the API information from your Firebase project settings (console)
# For now, we only need these 4 settings (in double quotes):  apiKey, authDomain, projectId, and appId.
# You can add settings for other Firebase services, if needed in the future.
#
#const firebaseConfig = {
#
#  apiKey: "AIzaSyAFGVeFVyaG7F0TPrk-v7KeezoKuSI_IlM",
#
#  authDomain: "myhikevishepa.firebaseapp.com",
#
#  projectId: "myhikevishepa",
#
#  storageBucket: "myhikevishepa.firebasestorage.app",
#
#  messagingSenderId: "174006611163",
#
#  appId: "1:174006611163:web:29cddd829805d69e5cf0fe",
#
#  measurementId: "G-L5YD94HEBP"

#};

#
# For more details, see: https://firebase.google.com/docs/web/setup#config-object


VITE_FIREBASE_API_KEY= "AIzaSyAFGVeFVyaG7F0TPrk-v7KeezoKuSI_IlM"
VITE_FIREBASE_AUTH_DOMAIN="myhikevishepa.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="myhikevishepa"
VITE_FIREBASE_APP_ID="1:174006611163:web:29cddd829805d69e5cf0fe"

